{% extends 'music/base.html' %}

{% block body %}

    <div class="row-fluid">
        {% for album in all_album %}

          <div class="col-md-4 col-sm-3">
             <div class="thumbnail">
                 <!--- Album Logo-->
                  <a href="{% url 'music:detail' album.id %}">
                      <img src="{{ album.album_logo.url }}" class="img-responsive">
                  </a>
                <div class="caption">
                   <h2 class="title">{{ album.album_title }}</h2>
                    <p class="details">{{ album.artist }}</p>
                    <!--details-->
                    <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm">View Details</a>

                    <!--Delete-->
                    <form action="{% url 'music:delete-album' album.id %}" method="post" style="display: inline-block">
                       {% csrf_token %}
                        <input type="hidden" name="album_id" value="{{ album.id }}"/>
                        <button type="submit" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                    <!--Favorite-->
                    <button class="btn btn-success btn-sm btn-favorite">
                        <span class="glyphicon glyphicon-star"></span>
                    </button>
                </div>
             </div>
          </div>
    {% endfor %}
    </div>
{% endblock  %}